.container {
  margin: auto;
  width: 95%;
  max-width: 900px;
}

.gamertag {
  font-size: 85px;
  margin-top: -15px;
  margin-bottom: -10px;
  font-family: Impact;
}

.beschreibung {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
}

.listeGames {
  text-align: left;
  margin-top: 5px;
}

.listeQuotes {
  text-align: left;
  margin-top: 5px;
  list-style-type: "";
}

.linkintext {
  color: white;
}

body {
	background-image: url(../img/bg/ss035.gif);
	background-repeat: repeat;
	background-color: #cccccc;
	cursor:url(../img/fav/fav.png), auto;
}

a:hover {
	cursor:url(../img/fav/fav_link.png), auto;
}

.container-enter {
  margin: auto;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 520px;
  font-size: 22px;

  color: #cccccc;
}

.container-main {
  margin: auto;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 650px;
  font-size: 22px;

  color: #cccccc;
}

.column {
  display:inline-block;
  width: 20%;
  padding: 5px;
}

.column-nav {
  display:inline-block;
  width: px;
  padding: 5px;
}

.row-nav{
  width: 640px;
   clear: both;
  display: table;
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
}

/* Text Slide */
div.slide-left {
  width:60%;
  overflow:hidden;
  float: right;
}

div.slide-left p {
  animation: slide-left 4s;
  font-size: 25px;
}

.clickSkull {
  width: 84px;
  height: 112px;
  margin-left: 121px;
  background: url(../img/gifs/smoking-skull.gif) no-repeat;
  display: inline-block;
}

.clickSkull:hover {
  background: url(../img/gifs/skenter.gif) no-repeat;
}

.overlapfire {
  width: 650px;
  position: relative;
  top: 7px;
}

.bella {
	background: url(../img/gifs/sparkle.gif) repeat;
}

.linkintext {   color: white; }

:root {
  --width: 100px;
  --x-speed: 13s;
  --y-speed: 7s;
  --transition-speed: 2.2s;
}

.el {
  width: var(--width);
  height: var(--width);
  position: absolute;
}

.x {
  animation: x var(--x-speed) linear infinite alternate;
}
.y {
  animation: y var(--y-speed) linear infinite alternate;
}

.buttonDiscord {
	height: 60px;
	width: 244px;
	background: url(../img/buttons/Button_Discord_UnPressed.png);
	background-size: cover;
}

.buttonDiscord:active {
	height: 60px;
	width: 244px;
	background: url(../img/buttons/Button_Discord_Pressed.png);
	background-size: cover;
}

.buttonSteam {
	height: 60px;
	width: 244px;
	background: url(../img/buttons/Button_Steam_UnPressed.png);
	background-size: cover;
}

.buttonSteam:active {
	height: 60px;
	width: 244px;
	background: url(../img/buttons/Button_Steam_Pressed.png);
	background-size: cover;
}

@keyframes x {
  100% {
    transform: translateX(calc(96vw - var(--width)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(96vh - var(--width)));
  }
}



@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
